Brotli==1.0.9
cachetools==5.2.0
certifi==2022.6.15
dash-extensions==0.1.5
dash-leaflet==0.1.23
dash-renderer==1.9.1
dash==2.6.0
Flask-Compress==1.12
Flask==2.1.2
future==0.18.2
gunicorn==20.1.0
influxdb-client==1.30.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsbeautifier==1.14.4
MarkupSafe==2.1.1
pandas==1.4.3
plotly==5.9.0
protobuf==3.20.*
python-dateutil==2.8.2
pytz==2022.1
Rx==3.2.0
six==1.16.0
tenacity==8.0.1
urllib3==1.26.10
Werkzeug==2.1.2