body {
    font-family: sans-serif;
    margin: 0;
}

.modebar{
    display: none !important;
}

#nav {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 16px 32px 16px 16px;
}

#nav img {
    height: 100%;
    margin-right: 16px;
}

#map-container {
    display: flex;
    height: 400px;
    justify-content: center;
    width: 100%;
}

#map-container #loading {
    padding: 10px;
    display: inline-block;
}

#controls {
    display: flex;
    margin: 16px;
}

#controls #host {
    margin-right: 8px;
    width: 160px;
}

#controls #duration {
    margin-right: 8px;
    width: 160px;
}

#controls #export {
    align-items: center;
    background-color: white;
    border-radius: 4px;
    border: 1px solid silver;
    display: flex;
    font-size: 16px;
    height: 100%;
    padding: 0 8px;
}

#controls #export img {
    height: 16px;
    margin: 0 4px 1px 0;
    vertical-align: middle;
}

[data-dash-is-loading='true']{
    visibility: hidden;
}

[data-dash-is-loading='true']::before{
    content: url('spinner.gif');
    display: flex;
    justify-content: center;
    visibility: visible;
}

#graphs {
    width: 70%;
	margin: 0 auto;
}