body {
    font-family: sans-serif;
    margin: 0;
}

.modebar{
    display: none !important;
}

#nav {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 16px 32px 16px 16px;
}

#nav img {
    height: 100%;
    margin-right: 16px;
}

#controls {
    display: flex;
    margin: 16px;
}

#controls #host {
    margin-right: 8px;
    width: 128px;
}

#controls #duration {
    margin-right: 8px;
    width: 128px;
}

#controls #export {
    background-color: white;
    border-radius: 2px;
    border: 1px solid silver;
    font-size: 16px;
    height: 100%;
}
